

main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 80%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items:flex-start; 
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; 
    overflow-wrap: break-word;
    max-width: 100%;
}

.section1 .section2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 80%;
    height: fit-content;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items:flex-start; 
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; 
}

.gallery{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    height: 800px;
    overflow: scroll;
    border: solid black 1px;
    height: fit-content;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items:flex-start; 
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; 
}
.textbox{
display: inline-block;
width: 80%;
}

.headertext2{
    color: black;
    font-size: 4.236rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.headertext1{
    color: black;
    font-size: 6.854rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.linktopage{
    color: black;
    font-size: 1.618rem;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    padding-top: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.towbottom{
    color: black;
    font-size: 1.618rem;
    font-family: 'Gruppo', cursive;
    font-weight: 400;
    padding-top: 10px;
    display: flex;
    margin: auto;
    flex-direction: column; 
    flex: 0 auto; 
}

img{
    width: 200px;
    height: auto;
}

.img-gallery{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items:flex-start; 
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; 
    overflow-wrap: break-word;
    max-width: 100%;
}

.output1 .output2 .output3 .output4 .output5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    margin: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items:flex-start; 
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto; 
    overflow-wrap: break-word;
    max-width: 100%;
}

button{
    color: black;
    font-size: 1.618rem;
    font-family: 'Gruppo', cursive;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 20px;
}
#container {
    position: relative;
    margin: 10;
    width: 100vw;
    height: 30pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.618rem;
    text-align:left;
    user-select: text;

}



